<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43036198879-mj5sjk6050okup9rs1pjhm71nmhe0oks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43036198879-mj5sjk6050okup9rs1pjhm71nmhe0oks</string>
	<key>API_KEY</key>
	<string>AIzaSyCpO3xXOHL9-9RcD1Mt2rARAZgp4qcVo5A</string>
	<key>GCM_SENDER_ID</key>
	<string>43036198879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Felix.Networking</string>
	<key>PROJECT_ID</key>
	<string>note-9419f</string>
	<key>STORAGE_BUCKET</key>
	<string>note-9419f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43036198879:ios:86ef740a2a534c5de9666a</string>
	<key>DATABASE_URL</key>
	<string>https://note-9419f.firebaseio.com</string>
</dict>
</plist>